body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
.logo{
height: 20px;
}
h1 h2 h3 h4{
  font-family: "montserrat", sans-serif;
}
/* section */
.coloured-section{
  background-color: rgb(255, 208, 0);
}
.black-section{
  background-color:  rgb(40, 40, 40);

}
/* heading */
.big-heading{
  font-family: "montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 1.5;
}

/*navbar */ /* title */
#title .container-fluid{
  padding: 3% 15% 0%;
  text-align: left;
}

.cabpng{

  width: 100%;
 }

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "montserrat";
    font-size: 2.5rem;
    font-weight: bold ;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  

}

/*feature */

#feature{
  

  padding: 7% 15% ;
  color: rgb(255, 208, 0); 
  padding: 10% 10%;

}

.feature-title{
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

  

  .feature-box{

   
    padding: 3%;
  }

  .icon{
    margin-bottom: 1rem;
 transition : 0.5s ease-in-out

  }
  .icon:hover{

    color: rgb(255, 255, 78);
    transform: scale(1.2);

  }
   
   /*testimonial*/


   #testimonial{
           padding: 7% 15%;
   }

   .testimonial-img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 20px;
   }

  
.testimonial-text{
   
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/*press*/

#press{
 
  color: black;

  padding-bottom: 3%;
 }

.press-logo{
 
  height: 150px;
  width: 150px;
  margin:40px 40px 50px ;
  transition : 0.5s ease-in-out
}

.press-logo:hover{
  color: rgb(123, 123, 123);
  transform: scale(1.2);
}

/* pricing*/

#pricing{
  padding: 7% 15% ; 
}

.p1{
  color: rgb(255, 208, 0);

}

.card{
  margin:10px 0px 30px ;
}
.pricing-column{
  padding: 3% 5%;
}
  .pricing-text{
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  .section-heading{
 
    color: rgb(255, 208, 0);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }


  .pricing-heading{
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
   
  /*cta*/
#cta{
text-align: center;
padding: 7% 0% 1%

}
.heading2{
  font-family: "montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;  
}

.download-button{
    margin: 5% 3% 5% 0;
  }


#press2{

  color: black;

 
}


  
 .press-logo2{
  height: 30px;
  width: 30px;
  margin:10px 10px 20px ;
 }
 

@media (max-width: 1020px) {
  #title{
    text-align: center;
  }
.cabpng{
 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  
}
}


  

